body {
  margin: 0 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: fantasy;
}

.title {
  position: absolute;
  font-size: 4rem;
}

h1:nth-child(even) {
  animation: myAnim3 2s ease-in-out;
}

svg {
  animation: myAnim2 2s ease-in 0s forwards;
}

svg text {
  font-size: 3rem;
}

button {
  position: absolute;
  top: 30%;
  right: 40%;
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 20vw;
  height: 10vh;
  background-color: blueviolet;
  border-radius: 15px;
}

@keyframes myAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes myAnim2 {
  0% {
    transform: scale(25);
  }

  100% {
    transform: scale(0);
  }
}
@keyframes myAnim3 {
  0% {
    transform: scale(0.5);
  }

  90% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}
